body{
background-color: #00BFFF;
}/* черный фон заголовка, белый цвет шрифта */

	
h1 {
 color: #fff; 
 background-color: #000;
}
h2 {
 color: #fff; 
 background-color: #000;
}
h3 {
 color: #fff; 
 background-color: #000;
}
h4 {
 color: #fff; 
 background-color: #000;
}
h5 {
 color: #fff; 
 background-color: #000;
}
<div class="canvas">
  <div class="tree">
    <div class="trunk">
      <div class="branch">
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
      </div>
      <div class="branch">
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
      </div>
      <div class="branch">
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
      </div>
      <div class="branch">
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
      </div>
      <div class="branch">
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
      </div>
      <div class="branch">
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
      </div>
      <div class="branch">
        <div class="leaf"></div>
        <div class="leaf"></div>
        <div class="leaf"></div>
      </div>
      <div class="branch">
        <div class="leaf"></div>
      </div>
    </div>
  </div>
</div>